---
layout: page
title: Projects
---
<h3>Conferences</h3>

<ul>
    <li style="font-size:20px"><b>Understanding Algorithmic Fairness in Health Care: A Proposed Case Study with Three Datasets</b><br>
        Bruna Seewald and Flavio Figueiredo<br>
        LatinX in AI Research Workshop at NeurIPS 2019<br>
        <a class="url" href="https://drive.google.com/file/d/1Rtcu3ELhHa5ZSlsCccRRQiCdKkjdaKwX/view?usp=sharing">[PDF]</a><a class="url" href="https://github.com/bseewald/fairness-in-health">[Code]</a>
</ul>

<!-- <section class="list">
    <p><b>Conference</b></p>
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
